---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Code from "../../components/Code.astro";
---

<Layout title="Strings">
  <main>
    <h1 class="title">Strings</h1>
    <hr />

    <p>
      To understand strings you have to understand what a character is. A
      character is any letter, number or symbol that is displayed. This could be
      an 'a', a '7' or even a '@' symbol like this.
    </p>
    <p>
      <b>Note</b>: just because a character may represent a number doesn't mean
      the computer thinks of it as a number. Eg. To a computer a '7' is not the
      same as the number 7, this may be confusing now but will make more sense
      as you understand how computer represent variables behind the scenes.
    </p>
  </main>
</Layout>
