---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Fundamental Programming">
  <main>
    <h1 id="title">
      <span class="text-green-500">&#60;</span>
      <span id="typewriter" data-text="Fundamental Programming"
        >Fundamental Programming</span
      >
      <span class="text-green-500">/&#62;</span>
    </h1>
    <h1 id="title"></h1>
    <div class="w-[800px] m-auto">
      <ul role="list" class="link-card-grid">
        <Card
          href="/fundamental-programming-teaching/lesson/variables"
          title="Variables"
          body="Learn how to store information using variables. "
        />
        <Card
        href="/fundamental-programming-teaching/lesson/IO"
        title="IO"
        body="Learn how Input/Output works"
      />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  #title {
    font-family: "PressStart";
    font-size: 2em;
    text-align: center;
    margin: 10em auto;
    width: fit-content;
    margin-top: 10em;
    margin-bottom: 10em;
  }
  #typewriter {
    border-right: 0.1em solid orange; /* The typwriter cursor */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: blink-caret 0.75s step-end infinite;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>

<script>
  function startTypewriter() {
    console.log("sdfklj");
    const letterTime = 50;

    const elem = document.getElementById("typewriter")!;
    elem.innerHTML = "";
    const goalString = elem.dataset.text!;

    let i = 0;
    let interval = setInterval(() => {
      if (i >= goalString.length) {
        clearInterval(interval);
      }

      elem.innerHTML += goalString.charAt(i);

      i++;
    }, letterTime);
  }

  startTypewriter();
</script>
