<div class="code shadow-xl">
  <!-- <div class="copy-button"></div> -->
  <slot />
</div>

<style>
  .code {
    font-size: 0.8em;
    color: rgb(var(--accent-light));
    border-radius: 4px;
    background-color: rgb(var(--accent-dark));
    padding: 2em;
    white-space: pre-wrap;
  }
</style>
