<div class="circle">
  <div class="text">&lt;/&gt;</div>
</div>

<style>
  .circle {
    /* color: white; */
    background: linear-gradient(
      to bottom right,
      rgb(var(--accent)),
      rgb(var(--accent-light))
    );
    border-radius: 50%;
    height: 5em;
    width: 5em;
  }

  .text {
    font-family: "PressStart";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    font-size: 1.5em;
    font-weight: bolder;
  }
</style>
