---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Logo from "../components/Logo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Content for Fundamental Programming TAs"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="fundamental-programming-teaching/favicon-16x16.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Image src={logo} alt="logo" /> -->
    <a href="/fundamental-programming-teaching" class="fixed m-4">
      <Logo />
    </a>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "PressStart";
    src: url("/fundamental-programming-teaching/fonts/PressStart2P-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 2, 195, 154;
    --accent-dark: 44, 38, 41;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #fffafa;
    color: #282c35;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  main {
    width: 50%;
    margin: auto;
    padding: 1rem;
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    font-size: 20px;
    line-height: 1.6;
  }

  .photo {
    margin: auto;
    margin-top: 1.25rem;
  }
  .caption {
    color: #6b6b6b;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }

  .title {
    font-size: 40px;

    font-weight: 700;
    line-height: 1.23;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    margin: 1em 0;
  }

  p > code {
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    padding: 0.3em 0.4em;
  }
</style>
