---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Logo from "../components/Logo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Content for Fundamental Programming TAs"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Image src={logo} alt="logo" /> -->
    <a href="/fundamental-programming-teaching" class="fixed m-4">
      <Logo />
    </a>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 2, 195, 154;
    --accent-dark: 44, 38, 41;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #fffafa;
    background-size: 224px;
    color: #282c35;
  }
  h1 {
    font-size: 38px;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
